<%- include('./parts/header') %>

  <form action="/pergunta" method="POST">
    <fieldset>
      <legend>Faça uma pergunta:</legend>
      <div class="form-group">
        <label for="fname">Título:</label>
        <input class="form-control" type="text" id="name" name="titulo"><br>
        <label for="lname">Descrição:</label>
        <textarea class="form-control" type="text" id="name" name="description"></textarea><br>
        <input class="btn btn-success" type="submit" value="Perguntar">
        <a href="/pergunta" class="btn btn-outline-secondary">ver perguntas</a>
      </div>
    </fieldset>
  </form>
</div>

<%- include('./parts/footer') %>
